.navbar-light .navbar-brand {
  color: white;
}

.navbar-brand{
  font-weight: bolder;
  background-color: rgb(60, 191, 196);
  color: white;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 0%;
  margin-right: 2%;
  padding: 10px;
}

.navbar {
  background-color: white;
  width: 100%;
  padding: 0;
}

.navbar-nav{
  margin-left: auto;
  padding-right: 10px;
}

@media screen and (max-width: 991px) {
.navbar {
  background-color:rgb(60, 191, 196);
}
.navbar-nav{
  background-color: whitesmoke;
  margin-left: 0%;
  padding-left: 2%;
}}

.navbar-toggler{
  background-color: rgb(60, 191, 196);
  margin-right: 10px;
}

body {
  background-color: whitesmoke;
}

.container{
  padding: 5%;
  margin-top: 10px;
}

h1{
  color: rgb(89, 218, 223);
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 8px;
  padding-top: 8px;
}

h2{
  color: rgb(89, 218, 223);
  font-size: 29px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 8px;
}

p{
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 2%;
}

.float-left{
  height: 170px;
  margin-right: 15px;
}

hr.solid {
  border-top: 1px solid;
  color: whitesmoke;
}

.jumbotron{
  background-color: white;
  padding: 2%;
}

h3{
  color: rgb(89, 218, 223);
  font-size: 29px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}